<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="insertBoard">
        insert into OURBOARD (category, title, writer, content) values (
        #{category}, #{title}, #{writer}, #{content}
        )
    </insert>
    <update id="updateBoard">
        insert into OURBOARD (category, title, writer, content) values (
        #{category}, #{title}, #{writer}, #{content}
        )
    </update>
    <delete id="deleteBoard">
        delete from OURBOARD where seq=#{seq}
    </delete>
    <select id="getBoard" resultType="board">
       select * from OURBOARD where seq=#{seq}
    </select>

    <select id="getBoardList" resultMap="board">
        select * from OURBOARD order by seq desc
    </select>
</mapper>